@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
:root {
    --blue: #61DAF2;
    --dark-blue: #393AF5;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: linear-gradient(to right top, var(--blue), var(--dark-blue));
    overflow: hidden;
    overflow-x: hidden;
}

h1 {
    font-size: 7vw;
    color: var(--white);
    text-align: center;
}

table {
    position: absolute;
    left: 17vw;
    text-align: center;
    width: 66%;
    height: 66%;
}

tr {
    margin-right: 2%;
}

p {
    color: #fff;
    text-align: center;
    font-size: 2vw;
}

.colums {
    width: 20vw;
    border-radius: 20px;
    height: 20vh;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    body {
        background-repeat: no-repeat;
        overflow: hidden;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-repeat: no-repeat;
        overflow: hidden;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-repeat: no-repeat;
        overflow: hidden;
        overflow-x: hidden;
    }
}
