@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
:root {
    --blue: #61DAF2;
    --dark-blue: #393AF5;
    --white: #fff;
    --black: #000;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
  }
  
  #slider {
    display: none;
    background: black;
    width: 768px;
    height: 420px;
  }
  
  #slider #top-row {
    width: 768px;
    height: 420px;
    overflow: hidden;
  }
  
  #slider #top-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #slider .slide {
    display: none;
    width: 100%;
    flex: 1;
  }
  
  #slider .slide.active {
    display: block;
  }
  
  #slider #bottom-row {
    display: flex;
    justify-content: center;
  }
  
  #dots {
    margin-top: 10px;
    display: inline-flex;
    padding: 5px 10px;
    padding-right: 0;
    border-radius: 2px;
  }
  
  #dots .dot {
    width: 12px;
    height: 12px;
    background-color: #3a3a3a;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
  }
  
  .arrow {
    margin: 0 5px;
  }
  
  .arrow,
  .dot {
    cursor: pointer;
  }

.icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_icon {
    width: 20vw;
    height: 20vh;
    border-radius: 20px;
    opacity: 0.9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: url(./img/Fuerteventura-1.jpg) center;
    background-size: cover;
    overflow: hidden;
    overflow-x: hidden;
}

h1 {
    font-size: 7vw;
    color: var(--white);
    text-align: center;
}

table {
    position: absolute;
    left: 17vw;
    width: 66%;
    height: 66%;
}


.slider {
    display: none;
}

.active {
    opacity: 0.7;
    width: 66%;
    height: 66%;
    position: absolute;
    left: 15%;
    background-color: var(--black);
}

p {
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 2vw;
}

.container_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66vw;
    height: 66vh;
    margin: auto;
}

.colums {
    cursor: pointer;
    color: var(--black);
    font-weight: bold;
    font-size: 24px;
    width: 50vw;
    text-align: center;
    margin-right: 20px;
    border-radius: 20px;
    height: 40vh;
    transition: width, height 0.3s;
}

img {
    width: 33vw;
    height: 33vh;
}

.colums:hover {
    animation: anime 0.7s;
}

.picture_icon:hover {
    opacity: 0.3;
}

@media screen and (max-width: 2000px) {
    h1 {
        float: right;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 10vw;
    }
    p {
        font-size: 5vw;
    }
}

@media screen and (max-width: 900px) {
    .container_cont {
        flex-wrap: wrap;
    }
    h1 {
        font-size: 10vw;
    }
    p {
        font-size: 5vw;
    }
}

@media screen and (max-width: 800px) {
    .container_cont {
        flex-wrap: wrap;
    }
    .active {
        width: 80%;
        height: 50%;
    }
    img {
        width: 22vw;
        height: 15vh;
    }
    .colums {
        width: 22vw;
        height: 7vh;
    }
    h1 {
        font-size: 10vw;
    }
    p {
        font-size: 5vw;
    }
}

@media screen and (max-width: 700px) {
    .container_cont {
        flex-wrap: wrap;
    }
    .active {
        width: 80%;
        height: 50%;
    }
    img {
        width: 27vw;
        height: 20vh;
    }
    .colums {
        font-size: 15px;
        width: 22vw;
        height: 7vh;
    }
    h1 {
        font-size: 10vw;
    }
    p {
        font-size: 5vw;
    }
}

@media screen and (max-width: 600px) {
    .container_cont {
        flex-wrap: wrap;
    }
    .active {
        width: 80%;
        height: 50%;
    }
    img {
        width: 27vw;
        height: 20vh;
    }
    .colums {
        font-size: 15px;
        width: 22vw;
        height: 7vh;
    }
    h1 {
        font-size: 10vw;
    }
    p {
        font-size: 5vw;
    }
}

@media screen and (max-width: 500px) {
    .container_cont {
        flex-wrap: wrap;
    }
    .active {
        width: 80%;
        height: 50%;
    }
    img {
        width: 27vw;
        height: 20vh;
    }
    .colums {
        font-size: 15px;
        width: 22vw;
        height: 7vh;
    }
    h1 {
        font-size: 15vw;
    }
    p {
        font-size: 30px;
    }
    .colums:hover {
        width: 21vw;
    }
}

@keyframes anime {
    from {
        transform: translateY(-20%);
    }
}